@import "home.scss";
@import "rooms.scss";
@font-face { font-family: darbysansRegular; src: url('fonts/DarbySans-Regular.otf'); } 
@font-face {font-family: darbysansPoster; src: url('fonts/DarbySansPoster-Regular.otf'); }
@font-fance {font-family: darbysansPosterLight; src: url('fonts/DarbySansPoster-Light.otf'); }
